<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154146027022-0l44i7bcsj0kmm2a574nideko2bdv80b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154146027022-0l44i7bcsj0kmm2a574nideko2bdv80b</string>
	<key>API_KEY</key>
	<string>AIzaSyAXgwXn0thDlrGQgfiGJTXe5bT1_8p22Pg</string>
	<key>GCM_SENDER_ID</key>
	<string>154146027022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>quarang.PokeDex-Project</string>
	<key>PROJECT_ID</key>
	<string>allpoone</string>
	<key>STORAGE_BUCKET</key>
	<string>allpoone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154146027022:ios:244b25af7154723f0cae5f</string>
</dict>
</plist>